*{
  margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
  margin: 0;
  padding: 0;
}
.content{
  position: relative;
  display: block;
  padding: 100px;
  background-color: rgb(0 51 41);
  color: white;
  z-index: 10;
}
.content_courses{
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap: 5px;

}
.card_course{
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.224);
}

.card_course img{

  width: 80%;
}
