header{
  top: 0px;
  position: absolute;
  width: 100%;
}
nav{
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;
  background-color: aqua;
  border-radius: 15px;
}
ul li{
  margin: 20px 5px;
  padding: 2px 5px;
  color: white;
  z-index: 200;
}
li a{
  margin: 10px 0;
  padding: 10px 20px;
  color: rgb(69, 7, 4);
  font-size: 20px;
  font-weight: 800;
  z-index: 200;
  border-radius: 15px;
}
li a:hover{
  background-color: rgb(114, 12, 7);
  color: white;
  z-index: 200;
}
li .active{
  background-color: rgb(114, 12, 7);
  color: white;
  z-index: 200;
}
